<form id="form" name="form" action="/Contact/Contact" method="post">
	<div id="block" style="margin-top:100px;margin-left:100px">
        <p id="p1">
            <br />
            <span style="color:gray; font-size:14pt"> You can contact us at :-</span>   <br /><br />
            <span style="color:white; font-size:16pt">
                Saman Afzaal: bcsf11a071@pucit.edu.pk<br />
                <br /><br />

                Ali Mohsin : bcsf11a069@pucit.edu.pk<br />

            </span>
        </p>
	</div>
</form>
