<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" Content="IE=edge">
        <meta name="viewport" Content="width=device-width, initial-scale=1">
        <meta name="description" Content="">
        <meta name="author" Content="">

        <title>PROJECT BUDDY</title>

        <!-- Bootstrap Core CSS -->
        <link href="~/Content/bootstrap.min.css" rel="stylesheet">

        <!-- Font Awesome CSS -->
        <link href="~/Content/font-awesome.min.css" rel="stylesheet">
		
		<!-- Custom CSS -->
        <link href="~/Content/animate.css" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="~/Content/style.css" rel="stylesheet">

        <!-- Custom Fonts -->
        <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>


        <!-- Template js -->
        <script src="~/Script/jquery-2.1.1.min.js"></script>
        <script src="~/Script/bootstrap.min.js"></script>
        <script src="~/Script/jquery.appear.js"></script>
        <script src="~/Script/contact_me.js"></script>
        <script src="~/Script/jqBootstrapValidation.js"></script>
        <script src="~/Script/modernizr.custom.js"></script>
        <script src="~/Script/script.js"></script>

        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

    </head>
    
    <body>
        <style>
            body {
                background-image: url("/Images/BackGround1.png");
                background-color: #cccccc;
            }
            .h1 {
                font-family: Calibri;
                font-size: 24pt;
                font-style: normal;
                font-weight: bold;
                color: LightBlue;
                
            }
        </style>
        <!-- Start Logo Section -->
        <section id="logo-section" class="text-center">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9">
                        <div class="h1">
                            <h1 style="margin-left:48%">PROJECT BUDDY</h1>
                            <h3 style="margin-left:48%">The Best Project Manager</h3>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Logo Section -->
        
        
        <!-- Start Main Body Section -->
        <div class="mainbody-section text-center">
            <div class="container">
                <div class="row">
                    
                    <div class="col-md-3">
                        
                        <div class="menu-item blue">
                            <a href="/SignIn/SignIn" data-toggle="modal">
                                <i class="fa"></i>
                                <p>Sign In</p>
                            </a>
                        </div>
                        
                        <div class="menu-item green">
                            <a href="/SignUp/SignUp" data-toggle="modal">
                                <i class="fa"></i>
                                <p>Sign Up</p>
                            </a>
                        </div>
                        
                        <div class="menu-item light-red">
                            <a href="/About/About" data-toggle="modal">
                                <i class="fa"></i>
                                <p>About Us</p>
                            </a>
                        </div>
                        
                    </div>
                    
                    <div class="col-md-6">
                        
                        <!-- Start Carousel Section -->
                        <div class="home-slider">
                            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" style="padding-bottom: 30px;">
                                <!-- Indicators -->
                                <ol class="carousel-indicators">
                                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                                </ol>

                                <!-- Wrapper for slides -->
                                <div class="carousel-inner" style="height:350px">
                                    <div class="item active">
                                        <img src="/Images/about03.jpg" class="img-responsive" alt="">
                                    </div>
                                    <div class="item">
                                        <img src="/Images/about02.jpg" class="img-responsive" alt="">
                                    </div>
                                    <div class="item">
                                        <img src="/Images/about01.jpg" class="img-responsive" alt="">
                                    </div>

                                </div>

                            </div>
                        </div>
                        <!-- Start Carousel Section -->
                        
                        <div class="row">
                            <div class="col-md-6">
                                <div class="menu-item color responsive">
                                    <a href="#service-modal" data-toggle="modal">
                                        <i class="fa"></i>
                                        <p>Services</p>
                                    </a>
                                </div>
                            </div>
                            
                            <div class="col-md-6">
                                <div class="menu-item light-orange responsive-2">
                                    <a href="#team-modal" data-toggle="modal">
                                        <i class="fa"></i>
                                        <p>Team</p>
                                    </a>
                                </div>
                            </div>
                            
                        </div>
                        
                    </div>
                    
                    <div class="col-md-3">
                        
                        <div class="menu-item light-red">
                            <a href="/Contact/Contact" data-toggle="modal">
                                <i class="fa"></i>
                                <p>Contact</p>
                            </a>
                        </div>
                        
                        <div class="menu-item color">
                            <a href="#feedback-modal" data-toggle="modal">
                                <i class="fa"></i>
                                <p>Feedback</p>
                            </a>
                        </div>
                        
                        <div class="menu-item blue">
                            <a href="#news-modal" data-toggle="modal">
                                <i class="fa"></i>
                                <p>Latest News</p>
                            </a>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <!-- End Main Body Section -->
    
        
        <!-- Start Portfolio Section -->
       
        
    </body>
    
</html>