@{
    ViewBag.Title = "SignIn";

    Layout = "~/Views/Shared/_Layout.cshtml";
}

 

<script src="~/Scripts/signup.js"></script>
<link href="~/Content/signup.css" rel="stylesheet" />
<style type="text/css">
    .btn {
        background: #423143;
        background-image: -webkit-linear-gradient(top, #423143, #423143);
        background-image: -moz-linear-gradient(top, #423143, #423143);
        background-image: -ms-linear-gradient(top, #423143, #423143);
        background-image: -o-linear-gradient(top, #423143, #423143);
        background-image: linear-gradient(to bottom, #423143, #423143);

        margin-left:540px;
        
        font-family: Courier New;
        color: #ffffff;
        font-size: 12px;
        padding: 10px 14px 10px 14px;
        text-decoration: none;
    }

        .btn:hover {
            background: #553f57;
            background-image: -webkit-linear-gradient(top, #553f57, #5a445c);
            background-image: -moz-linear-gradient(top, #553f57, #5a445c);
            background-image: -ms-linear-gradient(top, #553f57, #5a445c);
            background-image: -o-linear-gradient(top, #553f57, #5a445c);
            background-image: linear-gradient(to bottom, #553f57, #5a445c);
            text-decoration: none;
        }
     h3 {
        font-family: Calibri;
        font-size: 22pt;
        font-style: normal;
        font-weight: bold;
        color: LightBlue;
        text-decoration: underline;
    }

    body {
        background-image: url("/Images/BackGround1.png");
        background-color: #cccccc;
    }
    </style>
<h1>Project Buddy</h1>
<h3>Sign In</h3>

    <form id="form" name="form" action="/SignIn/validation" method="post" > 
    <div id="block" > 
        
        <input type="text" name="email" id="name" placeholder="Email Id" required /> 
        
        <input type="password" name="password" id="password" placeholder="Password" required /> 
        
    </div > 
        <br/>
           
                <input type="submit" class="btn" name="submit" value="Sign In" /> 
            
</form > 

<table align="center" >
    <tr>
        <td>
            <a href="/SignUp/SignUp">Sign Up</a>
        </td>
    </tr>
    <tr>
        <td><a href="#">Forgot Password?</a></td>
    </tr>
</table>